<div class="container">
  <div class="stepper">
    <div class="step active">
      <div class="step-circle">1</div>
      <span>Mi pedido</span>
    </div>
    <div class="step">
      <div class="step-circle">2</div>
      <span>Envío</span>
    </div>
    <div class="step">
      <div class="step-circle">3</div>
      <span>Pago</span>
    </div>
  </div>

  <h1>Mi carrito</h1>

  <div class="alert-box">
    <i class="fas fa-info-circle"></i>
    <span>Recuerda que tienes 30 minutos para recoger tu pedido. ¡Corre antes de que cierre la tienda! <i
        class="fas fa-motorcycle"></i></span>
  </div>

  <div class="cart-layout">
    <div class="cart-items">
      <div class="table-header">
        <div>Producto</div>
        <div style="text-align: center;">Precio</div>
        <div style="text-align: center;">Subtotal</div>
        <div></div>
      </div>

      <div class="cart-row">
        <div class="product-info">
          <img
            src="https://www.donbelisario.com.pe/media/catalog/product/p/d/pdp_brasa-days_duo_1000x1000px_1.png?optimize=medium&bg-color=255,255,255&fit=bounds&height=400&width=400&canvas=400:400&format=jpeg&dpr=2 2x,https://www.donbelisario.com.pe/media/catalog/product/p/d/pdp_brasa-days_duo_1000x1000px_1.png?optimize=medium&bg-color=255,255,255&fit=bounds&height=400&width=400&canvas=400:400&format=jpeg&dpr=3 3x"
            alt="Brasa Personal" class="product-img">
          <span class="product-name">Brasa Personal</span>
        </div>
        <div class="price-text" style="text-align: center;">S/15.90</div>

        <div class="qty-control" style="justify-content: center;">
          <button class="qty-btn"><i class="fas fa-minus"></i></button>
          <span class="qty-val">1</span>
          <button class="qty-btn"><i class="fas fa-plus"></i></button>
        </div>

        <div class="price-text" style="text-align: center;">S/15.90</div>

        <div class="actions">
          <i class="far fa-edit"></i>
          <i class="far fa-trash-alt"></i>
        </div>
      </div>

      <a href="#" class="back-link">
        <i class="fas fa-arrow-left"></i> Seguir comprando
      </a>

      <div class="recommendations-section" *ngIf="recomendaciones.length > 0">
        <h2 class="recommendations-title">¡Completa tu pedido!</h2>
        <div class="recommendations-grid">
          <app-product-card *ngFor="let prod of recomendaciones" [product]="prod" class="mini-card" />
        </div>
      </div>
    </div>

    <div class="cart-summary">
      <div class="summary-card">
        <div class="discount-toggle">
          <span><i class="fas fa-gift"></i> ¿Tienes un código de descuento?</span>
          <i class="fas fa-chevron-down"></i>
        </div>

        <div class="summary-row">
          <span>Subtotal</span>
          <span>S/15.90</span>
        </div>
        <div class="summary-row">
          <span>Costo de envío</span>
          <span>--</span>
        </div>

        <div class="total-row">
          <span>Total Pedido</span>
          <span>S/15.90</span>
        </div>

        <button class="btn-checkout" (click)="navegarAEnvio()">Siguiente</button>
      </div>
    </div>
  </div>


</div>