.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.main-content {
    flex: 1;
    margin-top: 78px;
    padding: 20px;
}
