/* Fonts are loaded globally from `src/index.html` to avoid inlining during build */
.login-container {
    --color-principal: #e5133a;
    --color-texto: #000;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
}

.login-container {
    display: grid;
    padding: 0 70px;
    grid-template-areas: 
    "login register"
    ;
}


/* PRIMERA SECCION DEL LOGIN */

.login__item {
    grid-area: login;
}

.first__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.welcome__container {
    background-color: var(--color-principal);
    color: #fff;
    width: 80%;
    padding: 5px 0;
    text-align: center;
    border-radius: 3px;
}

.login__title {
    text-align: center;
}

.form {
    width: 80%;
}

.form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.form__item {
    width: 100%;
}

.form__label {
    font-size: 1.1em;
}

.form__input {
    width: 95%;
    border: 1px solid #ddd;
    outline: hidden;
    padding: 15px 10px;
    border-radius: 3px;
    margin: 12px 0 20px 0;
}

.form__input:focus {
    outline: 1px solid var(--color-principal);
}

.password {
    position: relative;
}

.btn__password {
    position: absolute;
    right: 10px;
    top: 25px;
    background-color: #fff;
    border: none;
}

.bx-eye {    
    font-size: 1.6em;
    cursor: pointer;
}

.form__link {
    text-decoration: none;
    color: var(--color-principal);
}

.form__link:hover {
    text-decoration: underline;
}

.btn__login {
    background-color: var(--color-principal);
    color: #fff;
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

/* SEGUNDA SECCION DEL LOGIN */

.register__item {
    grid-area: register;
    background-color: #f8f8f8;
}

.second__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.secondSection__item {
    width: 100%;
}

.second__title {
    text-align: center;
    font-size: 2em;
}

.list__item {
    padding: 10px 0 0 7px;
}

.list__item::marker {
    color: var(--color-principal);
}

.btn__register {
    width: 100%;
    background-color: var(--color-principal);
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 20px;
    padding: 8px;
    margin-top: 20px;
    cursor: pointer;
}