body,html {
    height: 100%;
    margin: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

app-navbar {
    position: sticky;
    top: 0;
}

/* app-navbar-menu {
    position: sticky;
    top: 10;
} */

main {
    flex: 1;
}
