:root {
    --primary-color: #e5133a;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.combos__container {
    display: flex;
    margin: auto;
    margin-top: 10px;
    gap: 15px;
    width: 90vw;
    flex-direction: column;
    padding: 20px;
}

.combos__title {
    text-align: start;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
}

.grid__menu {
    display: grid;
    margin: auto;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 196px 196px 196px;
    gap: 30px;
}

.grid__item {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 2px #000;
}

.img-product {
    width: auto;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.product-details {
    padding: 16px 16px 16px 8px;
    width: 50%;
    flex-grow: 1;
}

.product-name {
    margin: 0 30px 10px 0;
    line-height: 18px;
    max-height: 36px;
}

.product-item-link {
    text-decoration: none;
    color: #000;
}

.product-item-inner {
    display: flex;
    flex-direction: column;
}

.product-item-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    line-height: 1.3;
    max-height: calc(1.3em * 4);
    height: 100%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 12px;
}

.price-box {
    gap: 0 5px;
    display: flex;
    flex-wrap: wrap;
}

.special-price {
    display: block;
}

.old-price {
    color: #e5133a;
    text-decoration: line-through;
}

.product-item {
    margin: 30px 0 0;
}

.product-item-btn {
    margin: 8px 0 0;
}

.actions-primary {
    display: block;
}

.tocart-form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.btn-add-tocart {
    background-color: #e5133a;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 10px;
    line-height: 14px;
    width: 100%;
    cursor: pointer;
}