@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.footer-container {
    --color-principal: #e5133a;
    --color-texto: #000;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-container {
    padding: 60px 0 60px 0;
    box-shadow: 0px 0px 1px #000;
    width: 100%;
    bottom: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.footer__item {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    align-self: stretch;
    width: 25%;
}

.list {
    list-style: none;
}

.list__link {
    text-decoration: none;
    color: #626262;
}

/* PRIMERA SECCION DEL FOOTER */

.firstFooter__section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.footer__logo {
    padding: 30px 0;
    width: 80px;
    height: auto;
}

.text__redes {
    font-size: 1.3em;
    font-weight: 500;
}

.social-medias__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.social-medias-list__item {
    padding: 15px 0;
    align-items: center;
}

.firtsFooter-item__link {
    padding: 5px;
}

.fab {
    font-size: 1.4em;
    transition: color .4s;
}

.fa-facebook:hover {
    color: rgb(46, 86, 147);
}

.fa-twitter:hover {
    color: #48e;
}

.fa-tiktok:hover {
    background: linear-gradient(90deg, #FE2C55 0%, #25F4EE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-instagram:hover {
    background: linear-gradient(90deg, rgba(155, 42, 131, 1) 29%, rgba(87, 91, 199, 1) 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


/* SEGUNDA SECCION DEL FOOTER */

.footer__titles {
    padding-bottom: 7px;
}

.secondThird-list__item {
    padding: 5px 0;
}

.secondThirdSection__link {
    font-size: 1.1em;
    font-weight: 400;
    transition: color .4s;
}

.secondThirdSection__link:hover {
    color: var(--color-principal);
}

/* TERCERA SECCION DEL FOOTER */


.fourthSection-item:first-child {
    display: flex;
    align-items: center;
}

.span-container {
    display: inline-block;
}

.text-footer:first-child {
    display: block;
    font-weight: bold;
}

.fourth-list {
    display: flex;
    gap: 0 20px;
}

.fourthSection-img {
    max-width: 50px;
    height: auto;
    border: 0;
}

.book-img {
    max-width: 90px;
    height: auto;
    border: 0;
    padding-bottom: 10px;
}